@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

.bullet {
    @apply w-[22px] h-[22px] bg-[#849F5D]
}

.floating-animation {
    @apply transition-all duration-500 ease-in-out hover:-translate-y-2 hover:shadow-lg
}

.markdown {
    @apply prose prose-sm md:prose-base lg:prose-lg max-w-none prose-pre:bg-slate-100 prose-pre:text-gray-100 prose-img:mx-auto lg:prose-img:max-w-[60%]
}