@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

.bullet {
    @apply w-[22px] h-[22px] bg-[#849F5D]
}

.floating-animation {
    @apply transition-all duration-500 ease-in-out hover:-translate-y-2 hover:shadow-lg
}

.markdown {
    @apply prose prose-sm md:prose-base lg:prose-lg max-w-none;
    @apply prose-pre:bg-slate-100 prose-pre:text-gray-100;

    /* Remove backticks from inline code */
    & :not(pre) > code::before,
    & :not(pre) > code::after {
        content: none;
    }

    /* Responsive image styling */
    & img {
        @apply mx-auto h-auto max-w-full sm:max-w-[90%] md:max-w-[55%] lg:max-w-[40%];
    }

    & .hide-on-sm {
        @apply hidden md:block;
    }

    & .hide-on-md {
        @apply block md:hidden;
    }
}